body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
dd,
ol,
p,
input,
select,
option,
textarea,
button {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei';
  font-weight: normal;
}
ul,
li,
ol,
dl,
dt,
dd {
  list-style: none;
}
input,
button,
select,
textarea {
  border: none;
  background: none;
  outline: none;
}
textarea {
  resize: none;
}
img {
  border: none;
  vertical-align: middle;
  outline: none;
}
a {
  text-decoration: none;
  outline: none;
}
a:link,
a:visited,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
}
em,
i,
u {
  font-style: normal;
}
b,
strong {
  font-weight: normal;
}
@reset ();
nav {
  width: 100%;
  background: #00a0e9;
  height: 40px;
  overflow: hidden;
}
nav .logo {
  width: auto;
  padding: 4px 0;
  display: inline-block;
}
nav .fa-bars {
  font-size: 32px;
  color: #fff;
  line-height: 40px;
  cursor: pointer;
}
nav ul {
  float: right;
  overflow: hidden;
  display: none;
}
nav li {
  float: left;
}
nav li:hover a,
nav li.cur a {
  border-bottom: 3px solid #15f7ff;
  color: #15f7ff;
}
nav a {
  display: block;
  font-size: 16px;
  line-height: 80px;
  height: 70px;
  margin: 0 20px;
  color: #fff;
}
nav.fixed {
  position: fixed;
  top: 0;
  z-index: 999;
}
.nav-mb {
  background: rgba(0,160,233,0.9);
  display: none;
}
.nav-mb a {
  display: block;
  height: 50px;
  border-bottom: 1px solid #59bfce;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  cursor: pointer;
  color: #fff;
}
.nav-mb li.cur a {
  color: #15f7ff;
  font-weight: bold;
}
.nav-mb.fixed {
  position: fixed;
  z-index: 999;
  top: 40px;
  width: 100%;
}
@media (min-width: 992px) {
  nav {
    height: 80px;
  }
  nav .logo {
    padding: 24px 0;
  }
  nav .fa-bars {
    display: none;
  }
  nav ul {
    display: block;
  }
  .nav-mb {
    display: none !important;
  }
}
@nav ();
.csdn-toolbar .container {
  display: none;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}
.pub_fo {
  display: none;
}
@media (min-width: 992px) {
  .csdn-toolbar .container {
    display: block;
    width: 970px;
  }
  .pub_fo {
    display: block;
  }
}
@media (min-width: 1200px) {
  .csdn-toolbar .container {
    width: 1170px;
  }
}
body {
  background: #fff;
  line-height: 1.4;
}
img {
  width: 100%;
  max-width: 100%;
}
a:hover,
a:focus {
  color: #fff;
}
.item:after {
  content: " ";
  display: block;
  clear: both;
}
.items:after {
  content: "";
  display: block;
  clear: both;
}
.mod {
  padding-top: 30px;
  padding-bottom: 30px;
}
