body,ul,ol,li,dl,dt,dd,form,p,em,span,select,input,textarea,fieldset,abbr,table,td,h1,h2,h3,h4,h5,h6{ margin:0px; padding:0px;}
body{ font-size:14px; line-height:1.5em; font-family:'Microsoft Yahei'; background:#fff;  color:#1a1a1a;}
ul,ol,li{ list-style:none;}
select,input,img{ vertical-align:middle; outline:none;}
img{ border:none;}
input,button,select,textarea{outline:none}
textarea{resize:none}
em{font-style:normal;}
a{color:#333}
a,a:hover{ text-decoration:none; outline:none;}
html{ overflow-x:hidden;}
.clearfix:after { content: ""; display: block; clear: both; }
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right;}
.pub_fo,.csdn-toolbar{display: none}
.csdn-toolbar .container{width: 1170px;}
.chou_j{margin-top: 38px;border-bottom: 2px solid #e6e6e6;}
.chou_j p{font-size: 24px;font-weight: bold;color: #fb515a;line-height: 65px;}
.warp_1{margin-top: 16px;display: none;}
.warp_1 li span{padding-right: 40px;line-height: 44px;font-size: 16px;color: #444444;}
.warp_2{text-align: center;margin-top: 30px;margin-bottom: 90px;}
.warp_2 a{line-height: 33px;padding: 8px 36px;font-size: 18px;color: #FFFFFF;background: #f6545a;border-radius: 2px;}
.yi_dong{margin-top: 30px;}
.yi_dong tr{border-bottom: 1px solid #e6e6e6;}
.yi_dong tr td{line-height: 44px;font-size: 16px;color: #444444;}
@media(min-width: 768px){
.warp_1{display: block;}
.yi_dong{display: none;}	
}
@media(min-width: 996px){
.pub_fo,.csdn-toolbar{display: block;}	
}
