body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
dd,
ol,
p,
input,
select,
option,
textarea,
button {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei';
  font-weight: normal;
}
ul,
li,
ol,
dl,
dt,
dd {
  list-style: none;
}
input,
button,
select,
textarea {
  border: none;
  background: none;
  outline: none;
}
textarea {
  resize: none;
}
img {
  border: none;
  vertical-align: middle;
  outline: none;
}
a {
  text-decoration: none;
  outline: none;
}
a:link,
a:visited,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
}
em,
i,
u {
  font-style: normal;
}
b,
strong {
  font-weight: normal;
}
@reset ();
nav {
  width: 100%;
  background: #00a0e9;
  height: 40px;
  overflow: hidden;
}
nav .logo {
  width: auto;
  padding: 4px 0;
  display: inline-block;
}
nav .fa-bars {
  font-size: 32px;
  color: #fff;
  line-height: 40px;
  cursor: pointer;
}
nav ul {
  float: right;
  overflow: hidden;
  display: none;
}
nav li {
  float: left;
}
nav li:hover a,
nav li.cur a {
  border-bottom: 3px solid #15f7ff;
  color: #15f7ff;
}
nav a {
  display: block;
  font-size: 16px;
  line-height: 80px;
  height: 70px;
  margin: 0 20px;
  color: #fff;
}
nav.fixed {
  position: fixed;
  top: 0;
  z-index: 999;
}
.nav-mb {
  background: rgba(0,160,233,0.9);
  display: none;
}
.nav-mb a {
  display: block;
  height: 50px;
  border-bottom: 1px solid #59bfce;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  cursor: pointer;
  color: #fff;
}
.nav-mb li.cur a {
  color: #15f7ff;
  font-weight: bold;
}
.nav-mb.fixed {
  position: fixed;
  z-index: 999;
  top: 40px;
  width: 100%;
}
@media (min-width: 992px) {
  nav {
    height: 80px;
  }
  nav .logo {
    padding: 24px 0;
  }
  nav .fa-bars {
    display: none;
  }
  nav ul {
    display: block;
  }
  .nav-mb {
    display: none !important;
  }
}
@nav ();
.csdn-toolbar .container {
  display: none;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}
.pub_fo {
  display: none;
}
@media (min-width: 992px) {
  .csdn-toolbar .container {
    display: block;
    width: 970px;
  }
  .pub_fo {
    display: block;
  }
}
@media (min-width: 1200px) {
  .csdn-toolbar .container {
    width: 1170px;
  }
}
body {
  background: #fff;
  line-height: 1.4;
}
img {
  width: 100%;
  max-width: 100%;
}
a:hover,
a:focus {
  color: #fff;
}
.item:after {
  content: " ";
  display: block;
  clear: both;
}
.items:after {
  content: "";
  display: block;
  clear: both;
}
.mod {
  padding-top: 30px;
  padding-bottom: 30px;
}
.mod1 {
  padding-top: 182px;
  background: url("../images/bg.jpg") center top no-repeat;
  background-size: cover;
}
.lottery .wheel {
  position: relative;
  width: 340px;
  height: 348px;
  margin: 0 auto;
  background: url("../images/wheel.png") no-repeat;
  background-size: cover;
}
.lottery .awards {
  position: absolute;
  top: 24px;
  left: 50%;
  margin-left: -146px;
  width: 293px;
  height: 293px;
  background: url("../images/circle.png") no-repeat;
  background-size: cover;
}
.lottery .pointer {
  position: absolute;
  top: 110px;
  left: 50%;
  margin-left: -45px;
  width: 90px;
  height: 105px;
  background: url("../images/pointer.png") no-repeat;
  background-size: cover;
}
.mod2 {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #fb515a;
}
.mod2 .sidebar {
  width: 359px;
  margin: 0 auto;
}
.avatar {
  background: #fff;
  box-shadow: 0 3px 3px 0px rgba(13,5,9,0.2);
  margin: 15px auto;
  padding: 10px;
  width: 359px;
  height: 66px;
  border-radius: 5px;
}
.avatar img {
  width: 48px;
  height: 48px;
  margin-right: 14px;
}
.avatar label {
  font-size: 15px;
  color: #333;
}
.avatar span {
  font-size: 18px;
  font-weight: bold;
  color: #fb515a;
}
.avatar a {
  display: inline-block;
  width: 116px;
  height: 27px;
  background: #fb515a;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  float: right;
  margin-top: 10px;
}
.avatar a:hover {
  transform: scale(1.1);
}
.rule {
  width: 359px;
  background: #fff;
  border-radius: 5px;
  margin: 15px auto;
  box-shadow: 0 3px 3px 0px rgba(13,5,9,0.2);
}
.rule h2 {
  height: 40px;
  background: rgba(251,81,90,0.9);
  color: #fff;
  text-align: center;
  font-size: 22px;
  line-height: 40px;
}
.rule ul {
  padding: 10px 0;
}
.rule li {
  font-size: 15px;
  line-height: 28px;
  color: #333;
  padding-left: 25px;
  padding-right: 25px;
}
.rule label {
  margin: 0;
  width: 52px;
  font-weight: normal;
  margin-right: 20px;
}
.rank {
  width: 359px;
  background: #fff;
  border-radius: 5px;
  margin: 15px auto;
  box-shadow: 0 3px 3px 0px rgba(13,5,9,0.2);
}
.rank h2 {
  height: 40px;
  background: rgba(251,81,90,0.9);
  color: #fff;
  text-align: center;
  font-size: 22px;
  line-height: 40px;
}
.rank li {
  font-size: 15px;
  color: #333;
  line-height: 34px;
  height: 34px;
  background: #fff;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
}
.rank li:nth-child(odd) {
  background: #fff4d6;
}
.rank label {
  font-weight: normal;
  margin: 0;
  flex: 1;
}
.rank span {
  flex: 2;
}
.mod3 {
	padding-top: 50px;
  background: #fb515a;
  padding-bottom: 80px;
}
.mod3 h2 {
  color: #fff;
  font-size: 22px;
  line-height: 1;
  text-align: left;
  font-weight: bold;
  border-left: 10px solid #fff;
  padding-left: 15px;
  margin-bottom: 27px;
}
.mod3 li {
  font-size: 16px;
  color: #fff;
  padding-left: 42px;
  position: relative;
  margin: 8px auto;
}
.mod3 li:after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 25px;
  top: 8px;
}
.mod3 label {
  font-weight: bold;
}
.mod3 a {
  color: #fff;
  text-decoration: underline;
}
.mod3 a:hover {
  color: #fff;
  text-decoration: underline;
}
@media (min-width: 750px) {
  .mod1 {
    padding-top: 400px;
  }
}
@media (min-width: 992px) {
  .mod1 {
    padding-top: 705px;
    padding-bottom: 240px;
  }
  .lottery .wheel {
	  position: inherit;
	  margin: auto;}
  .lottery .wheel {
    transform: scale(2);
  }
   .sidebar {
    position: absolute;
    top: 640px;
    right: 10%;
  }
}
@media (min-width: 1300px) {
  body {
    position: relative;
  }
  .lottery .wheel {
    margin-left: 10%;
  }
  .sidebar {
   

    right: 20%;
  }
}
.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
  display: none;
}
.alert-box {
  position: absolute;
  top: 25%;
  left: 50%;
  min-height: 150px;
  padding: 30px 38px;
  margin-left: -175px;
  width: 330px;
  background: #faf8f4;
  overflow: hidden;
  display: none;
}
.alert-box footer {
  padding-left: 75px;
}
.alert-box footer .bds_more {
  display: none;
}
.alert-box .close {
  position: absolute;
  top: -20px;
  right: -10px;
  width: 45px;
  height: 45px;
  background: #fb515a;
  opacity: 1;
  border-radius: 50%;
}
.alert-box .close:before,
.alert-box .close:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 14px;
  left: 14px;
  width: 10px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
}
.alert-box .close:after {
  transform: rotate(135deg);
}
.alert-box .alert1,
.alert-box .alert2,
.alert-box .alert3 {
  text-align: center;
}
.alert-box .alert1>a,
.alert-box .alert2>a,
.alert-box .alert3>a {
  margin: 30px auto;
  display: block;
  width: 113px;
  height: 30px;
  background: #f6545a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-size: 20px;
}
.alert-box .alert1 div,
.alert-box .alert2 div,
.alert-box .alert3 div {
  width: 120px;
  height: 120px;
  background: url("../images/circle.png") no-repeat;
  background-position: -298px -62px;
  border-radius: 50%;
  margin: 20px auto;
  transform: rotate(-38deg);
}
.alert-box .alert1 h2,
.alert-box .alert2 h2,
.alert-box .alert3 h2 {
  font-size: 20px;
  font-weight: bold;
  color: #e73f3f;
}
.alert-box .alert9,
.alert-box .alert10 {
  text-align: center;
  font-size: 18px;
  line-height: 150px;
  display: none;
}
.alert-box .alert9 h2,
.alert-box .alert10 h2 {
  font-size: 20px;
  font-weight: bold;
  color: #e73f3f;
}
